.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-height: 300px;
    margin: 80px 0;
    background-color: #111111;
    padding: 40px 20px;
}

.catalog img {
    width: 250px;
    height: 300px;
    margin-bottom: 15px;
    box-shadow: 0 0 10px 5px #000;
}

.film_box {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #bbbbbb;
    font-size: 14px;
    transition: transform .3s;
}


.show_info {
    width: 101%;
    height: 60px;
    bottom: -20px;
    background-color: #0c061d;
    position: absolute;
    visibility: hidden;
    transition: transform .4s ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.film_box:hover .show_info {
    visibility: visible;
    transform: translate3d(0px, -50px, 0px);
}

.film_box:hover {
    transform: scale(1.1);
}

.show_info .link{
    text-decoration: none;
    border: 1px solid black;
    padding: 5px;
    margin:20px 5px 0 0;
    background-color: #123456;
    color: white;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.link:hover{
    background-color: #1b659a;
}
