.film_detail {
    display: flex;
    color: white;
    min-height: 300px;
    margin: 20px 0;
    background-color: #353535;
    padding: 10px;
}

.film_detail img {
    width: 450px;
    height: 450px;
    margin-right: 20px;
}

.film_detail .info {
    position: relative;
}

.film_detail .info * {
    margin-bottom: 15px;
}

.film_detail .info span {
    margin-right: 15px;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
}

.film_detail .info button {
    border: none;
    position: absolute;
    top: 87%;
    left: 80%;
    padding: 5px;
    margin: 20px 5px 0 0;
    background-color: #123456;
    color: white;
    border-radius: 4px;
    width: 100px;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.film_detail .info button:hover{
    background-color: #1c3d56;
}
